
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 65px);
    grid-template-areas: "clear clear divide multiply"
                       "seven  eight nine subtract"
                       "four  five six add"
                       "one two three equals"
                       "zero zero decimal equals";
}

#clear {
    grid-area: clear;
}
#zero {
    grid-area: zero;
}
#equals {
    grid-area: equals;
}